@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=La+Belle+Aurore&display=swap");
/* ------------------------------------------------ */
/* effects */
/* ------------------------------------------------ */
/* inactive */
.neonText {
  color: #fff;
}

h1 {
  animation: flicker 3s linear infinite;
}

/* quote effct */
span {
  --offset: 2;
  color: black;
  position: absolute;
  left: calc(var(--offset) * 1ch + var(--offset) * 0.2ch);
  animation: flicker 4s linear infinite;
}

@keyframes flicker {
  0%, 19.9%, 22%, 62.9%, 64%, 64.9%, 70%, 100% {
    opacity: 0.99;
  }
  20%, 21.9%, 63%, 63.9%, 65%, 69.9% {
    opacity: 0.4;
    text-shadow: none;
  }
}
fieldset {
  font-family: "Fira Mono", monospace;
  border: none;
  position: absolute;
  bottom: 20px;
  color: #a3a3a3;
}

label {
  font-size: 14px;
}

input {
  background: #a3a3a3;
  border: 1px solid #000;
}

:root {
  --dark-pink: #da1276;
  --light-pink: #ff0081;
  --dark-blue: rgb(30, 30, 155);
}

/* ------------------------------------------------ */
/* structure */
/* ------------------------------------------------ */

/* parent 1 */
.container {
  padding: 5px 50px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.content, #name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* parent 2 */
.content {
  min-width: 69vh;
  min-height: 35vh;
  margin: 90px auto 20px auto;
  position: relative;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.455);
  background-image: url("../img/yellow-grunge-background.jpg");
  // background-image: url("../img/yellow-grunge-texture-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.message {
  width: 50vh;
  height: 90px;
  padding: 5px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

.author {
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* button */
#next-button {
  height: 40px;
  width: 110px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

#next-button:hover {
  background-color: var(--light-pink);
}

#next-button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

h1 {
  font-size: 25px;
  font-weight: 400;
  padding: 40px 0 0 0;
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 1.5vw;
  line-height: 1;
}

/* button */
h4 {
  font-weight: 500;
  text-transform: uppercase;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body page image */
body {
  // margin: 100px 0 0 0;
  background-image: url("../img/turkey-tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  min-width: 80vh;
}

/* quote */
.text {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  line-height: 1.2;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 1.2vw;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
